
.table-view {
	-fx-border-color: #000000;
}

.table-view  .column-header {
    -fx-background-color: #EC4842;
    -fx-color: #FFFFFF;
    -fx-pref-height: 62px;
}

.table-view .odd-row{
	-fx-background-color: #F0F2F3;
}

.table-view .column-header > .label {
    -fx-text-fill: white;
    -fx-alignment: bottom-left ;
    -fx-font: 15pt 'Inter', sans-serif;
    -fx-font-weight: bolder;
    -fx-padding: 5px;
}

.table-view .search-field {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #000000;
}